.repair-services__wrapper-list {
  max-height: 736px;
  overflow-y: scroll;
  overflow-x: hidden;

  padding-right: 0;
}

.repair-services__list {
  background-color: var(--color-calculator);
  border-radius: 12px;
}

.repair-services__item {
  line-height: 1.4;
}

// .repair-services__item:hover {
//   color: var(--color-text-light);
// }

.repair-services__item:hover {
  background-color: #C6CAD8;
}

.repair-services__checkbox-wrapper {
  flex-basis: calc(5% - 8px);
}

.repair-services__description-wrapper {
  flex-basis: calc(75% - 8px);
}

.repair-services__price-wrapper {
  flex-basis: calc(20% - 8px);
}

