a {
  text-decoration: none;
  color: var(--color-text);
}

p{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

a:hover,
a:focus {
  color: var(--color-secondary);
  transition: 0.2s color;
}

body {
  font-family: 'Oswald', sans-serif;
  color: var(--color-text-darken);
}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.link {
  text-decoration: none;
  color: var(--color-text);
}

.link:hover {
  text-decoration: none;
}

.container--custom {
  max-width: 960px;
  margin: 0 auto;
}



// checkbox
:root {
  /* radios and checkboxes */
  --checkbox-radio-size: 1em;
  --checkbox-radio-translate-y: 0.125em; // edit to align buttons with labels

  /* radio buttons */
  --radio-marker-size: 8px;

  /* checkboxes */
  --checkbox-marker-size: 12px;
  --checkbox-radius: 0.125em;
}

.radio,
.checkbox {
  // hide native buttons
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.radio + label,
.checkbox + label { // label style
  display: inline-block; // fallback
  display: inline-flex;
  align-items: baseline;  
  user-select: none;
}

.radio + label::before,
.checkbox + label::before { // custom buttons - basic style
  content: '';
  display: inline-block;
  vertical-align: middle; // fallback
  flex-shrink: 0;
  width: var(--checkbox-radio-size);
  height: var(--checkbox-radio-size);
  background-color: var(--color-bg);
  border: 1px solid #bebebe;
  margin-right: var(--space-xxxs); // gap between button and label
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s;
}

@supports (grid-area: auto) {
  .radio + label::before,
  .checkbox + label::before {
    position: relative;
    top: var(--checkbox-radio-translate-y);
  }
}

.radio + label::before {
  border-radius: 50%; // radio button radius
}

.checkbox + label::before {
  border-radius: var(--checkbox-radius); // checkbox button radius
}

.radio:checked + label::before,
.checkbox:checked + label::before {
  // checked state
  background-color: var(--color-primary);
  box-shadow: none;
  border-color: var(--color-primary);
  border-radius: 4px;
}

.radio:active + label::before,
.checkbox:active + label::before {
  // active state
  transform: scale(0.4);
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before {
  transform: none;
  transition: none;
}

.radio:checked + label::before {
  // radio button icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  background-size: var(--radio-marker-size);
}

.checkbox:checked + label::before {
  // checkbox button icon
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' stroke-width='2' fill='%23ffffff' stroke='%23ffffff'%3E%3Cpolyline fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='1,9 5,13 15,3 ' data-cap='butt'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
  background-size: var(--checkbox-marker-size);
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before,
.radio:focus + label::before,
.checkbox:focus + label::before {
  // focus state
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
}

.banner {
  margin-bottom: 40px;
}

.banner__wrapper-image {
  display: flex;
  justify-content: center;

  max-width: 940px;
  max-height: 400px;
}

.banner__image {
  width: 100%;
  border-radius: 12px;
}

.text {
  margin: 40px 0;
}

.text__container h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
}

.text__container h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.text__container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.text__container h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text__container h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.text__container h6 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 24px;
}

.text__container p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 16px;
}

.text__container b {
  font-size: 16px;
  font-weight: 600;
}

.text__container p span {
  font-size: 12px;
}

.text__container p img {
  width: 100%;
  margin: 8px 0;
}

.page-link {
  color: var(--color-primary);
}

.text__container pre {
  width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
}

.text__container strong {
  font-weight: 500;
}

.text__container em {
  font-style: italic;
}

.text__container blockquote {  
  color: #999;
  border-top: #999 4px solid;
  border-bottom: #999 4px solid;
  font-size: 16px;
  padding: 20px;
  margin: 12px 50px;  
  }

.text__container a {
  text-decoration: none;
}

.text__container a:hover,
.text__container a:focus {
  text-decoration: none;
}

.text__container ol li {
  margin-left: 20px;
}

.text__container ul li{
  list-style: disc;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.text__container ol,
.text__container ul {
  margin-top: 8px;
  margin-bottom: 32px;
}

.text__container ol li h1,
.text__container ul li h1,
.text__container ol li h2,
.text__container ul li h2,
.text__container ol li h3,
.text__container ul li h3,
.text__container ol li h4,
.text__container ul li h4,
.text__container ol li h5,
.text__container ul li h5 {
  margin-bottom: 0;
}

.text__container ol li p ,
.text__container ul li p {
  font-size: 16px;
}


// table

.text .text__container table {
  display: block;
  overflow-y: auto;
  margin: 40px 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.text .text__container table thead th {
  border: none;
}

.text .text__container table td {
  padding: 18px;
  vertical-align: top;
  border-top: 0;
  border-bottom: 1px solid #C6CAD8;
}

.text .text__container table th {
  padding: 24px;
}

.text .text__container table td ,
.text .text__container table th {
  vertical-align: top;
  border-top: 0;
  border-bottom: 1px solid #C6CAD8;
}

.text .text__container table thead th {
  vertical-align: middle;
}

th {
background: #E9EBF2;
color: #343B4C;
padding: 10px 20px;
font-weight: 600;
font-size: 16px;
}

td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}

th:first-child, td:first-child {
text-align: left;
}

th:first-child {
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
}

th:last-child {
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
}

td {
padding: 10px 20px;
background: #ffffff;
}

tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}

tr td:last-child {
border-right: none;
}

.text .text__container table + p {
  color: #8D96B2;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}


//  record form 

.record__title {
  font-size: 20px;
}

@media (max-width: 768px) {
  .record__title {
    font-size: 18px;
  } 
}

.record__body {
  padding: 32px;
}

@media (max-width: 564px) {
  .record__body {
    padding: 32px 24px;
  }
}

.record__close {
  position: relative;
  top: -28px;
  left: 20px;
}



@media (max-width: 564px) {
  .record__close {
    top: -20px;
    left: 12px;
  }
  
}

.form-communication__record-checkbox {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-required);
}

.form-communication__required {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-required);
}

.form-group  .record__label {
  font-size: 12px;
}

.btn-secondary {
  background-color: var(--color-filter);
  border-color: var(--color-filter);
  color: var(--color-text-darken);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--color-filter-hover);
  border-color: var(--color-filter-hover);
  color: var(--color-text-darken);
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-text-light);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: var(--color-filter);
  border-color: var(--color-filter);
  color: var(--color-text-darken);
}