.payment {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .payment {
    margin-bottom: 56px;
  }
}

@media (max-width: 425px) {
  .payment {
    margin-bottom: 40px;
  }
}

.payment__link {
  padding: 12px 20px 20px 20px;
  min-height: 216px;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
}

.payment__link--calculate-to {
  background-image: url('/site/templates/img/calculate-to.svg');
}

.payment__link--repair {
  background-image: url('/site/templates/img/repair.svg');
}

.payment__link--paint {
  background-image: url('/site/templates/img/paint.svg');
}

