.payment__link {
  min-height: 216px;
  padding: 12px 16px 20px 16px;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
}

.payment__link--calculate-to {
  background-image: url('/site/templates/img/calculate-to.svg');
}

.payment__link--repair {
  background-image: url('/site/templates/img/repair.svg');
}
.payment__link--paint {
  background-image: url('/site/templates/img/paint.svg');
}

