@media(max-width:940px){
  .owl-carousel{
    padding: 0 16px;
  }
}

.owl-carousel__image {
  border-radius: 12px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: relative;
  bottom: 40px;
  margin-top: 0;
}

@media(max-width: 940px) {
  .owl-theme .owl-nav.disabled+.owl-dots {
    position: static;
    margin-top: 8px;
  }
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: var(--color-primary);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--color-primary);
}

