.owl-carousel {
  table-layout: fixed;
}

@media(max-width:980px){
  .owl-carousel{
    padding: 0 16px;
  }
}

.owl-carousel__image {
  border-radius: 12px;
}

// .owl-theme .owl-nav.disabled+.owl-dots {
//   position: relative;
//   bottom: 40px;
//   margin-top: 0;
// }

// @media(max-width: 940px) {
  .owl-theme .owl-nav.disabled+.owl-dots {
    position: static;
    margin-top: 8px;
  }
// }

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

// @media(min-width: 941px) {
//   .owl-theme .owl-dots .owl-dot span {
//     background-color: #ffffff;
//   }
// }

// @media(max-width: 940px) {
.owl-theme .owl-dots .owl-dot span {
  background-color: var(--color-calculator-hover);
}
// }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: var(--color-primary);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--color-primary);
}


.owl-theme.carousel__cards .owl-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  height: 0px;
  margin: 0;
}

.owl-theme.carousel__cards .owl-nav .owl-prev {
  position: relative;
  width: 30px;
  height: 30px;
  background: #F6F8FD;
  border-radius: 50%;
}

.owl-theme.carousel__cards .owl-nav .owl-prev::after{
  content: "";
  display: block;
  width: 8px;
  height: 14px;
  background-image: url("/site/templates/img/arrow-prev.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.owl-theme.carousel__cards .owl-nav .owl-prev span{
  font-size: 0;
}

.owl-theme.carousel__cards .owl-nav .owl-next {
  position: relative;
  width: 30px;
  height: 30px;
  background: #F6F8FD;
  border-radius: 50%;
}

.owl-theme.carousel__cards .owl-nav .owl-next::after{
  content: "";
  display: block;
  width: 8px;
  height: 14px;
  background-image: url("/site/templates/img/arrow-prev.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50% , -50%);
  transform: rotate(180deg);
}
    
.owl-theme.carousel__cards .owl-nav .owl-next span{
  font-size: 0;
}

// .owl-stage {
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-box;
//   display: box;
//   }
  
@media(min-width: 980px) {
  .promo-carousel .owl-item img {
    width: auto !important;
    }
}