extends ../layout/main

block variables
  - var title = "Webpack + pug";
  - var description = "Webpack + pug";
  - var pageCLass = "Webpack + pug";

block content
  section.container
    +item("item title", "item descr")
    +item("item title", "item descr")
    +item("item title", "item descr")
    +item("item title", "item descr")
    +item("item title", "item descr")
  example-component.margin-top-md 
