<form class="form">
  <div>
    <label>Users</label>
    <select class="select" name="users" id="select-1">
      <option value="">Choose option</option>
    </select>
  </div>

  <div>
    <label>Posts</label>
    <select class="select" disabled name="posts" id="select-2">
      <option value="">Choose option</option>
    </select>
  </div>

  <div>
    <label>Comments</label>
    <select class="select" disabled name="comments" id="select-3">
      <option value="">Choose option</option>
    </select>
  </div>

  <button type="submit" class="button">go!</button>
</form>

<form class="result-form">
  <div class="content">
    <p>Services</p>
    <ul class="services"></ul>

    <p>Results</p>
    <ul class="results"></ul>
  </div>
  <button type="submit">Send</button>
</form>