footer(
  class = "main-footer"
)
  div(
    class = "main-footer__container container container--custom"
  )
    section(
      class = "main-footer__navigation"
    )
      ul(
        class = "main-footer__list"
      )
        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Главная

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Ремонт авто

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Малярно-кузовной ремонт

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Запчасти/аксессуары

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Тюнинг

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Детейлинг

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Наши работы

        li(
          class = "main-footer__item"
        )
          a(
            href = "/"
            class = "main-footer__link"
          ) Контакты

    div(
      class = "main-footer__contacts"
    )
      div(
        class = "main-footer__copyright"
      )
        p(
          class = "main-footer__copyright-text"
        ) Информационно-сервисный портал <br>
          |«Атлант-М Международный автомобильный холдинг» <br>
          |© 2007­-2019 Атлант-М
      
      div(
        class = "main-footer__socials"
      )
        div(
          class = "main-footer__picture"
        )
          a(
            href = "instagram.com"
            class = "main-footer__picture-link"
          )
            img(
              src = "/site/templates/img/instagram.png"
              class = "main-footer__image"
            )

        div(
          class = "main-footer__picture"
        )
          a(
            href = "vk.com"
            class = "main-footer__picture-link"
          )
            img(
              src = "/site/templates/img/vk.png"
              class = "main-footer__image"
            )

        div(
          class = "main-footer__picture"
        )
          a(
            href = "facebook.com"
            class = "main-footer__picture-link"
          )
            img(
              src = "/site/templates/img/facebook.png"
              class = "main-footer__image"
            )

      div(
        class = "main-footer__address"
      )
        a(
          href = "tel:+78123806750"
          class = "main-footer__phone"
        ) +7 (812) 380-67-50
        
        p(
          class = "main-footer__address-text"
        ) г. Санкт-Петербург, пр. Энергетиков, д. 53а <br>
          |Ежедневно с 9-00 до 21-00 <br>
          |info@amservice.spb.ru
