section(
class = "owl-carousel owl-theme loop"
)  
  div(
    class = "owl-carousel__item"
  )
    div(
      class = "owles-wrapper__image"
    )
      img(
        class = "owl-carousel__image",
        src = "site/templates/img/slider01.jpg",
        alt = "Самая выгодная цена на ТО Шевроле"
      )

  div(
    class = "owl-carousel__item"
  )
    div(
      class = "owles-wrapper__image"
    )
      img(
        class = "owl-carousel__image",
        src = "site/templates/img/slider01.jpg",
        alt = "Самая выгодная цена на ТО Шевроле"
      )
    
  div(
    class = "owl-carousel__item"
  )
    div(
      class = "owles-wrapper__image"
    )
      img(
        class = "owl-carousel__image",
        src = "site/templates/img/slider01.jpg",
        alt = "Самая выгодная цена на ТО Шевроле"
      )