:root {  
  --color-primary: #004EC2;
  --color-secondary: #FF141F;

  --color-text-light: #FFFFFF;
  --color-text: #000000;
  --color-text-darken: #343B4C;
  
  --color-text-required: #8D96B2;

  --color-form-control: #62687F;
  --color-calculator: #F6F8FD;
  --color-filter: #D4DCEE;
  --color-filter-hover: #C6CAD8;
  --color-calculator-hover: #C6CAD8;

  --color-bimbo: #E9EBF2;
  --color-dummy: #3C8ACD;

  --color-primary-hover: #FF141F;
  --color-text-hover: #004EC2;

  --color-shadow: #D4DCEE;
}
