.calculator-painting__title {
  font-size: 36px;
  margin-bottom: 48px;
}

@media(max-width: 768px) {
  .calculator-painting__title {
    font-size: 24px;
  }
}

@media(max-width: 576px) {
  .car__container {
    padding: 0;
  }
}

.car__map {
  position: relative;
}

.car__left-image{
  .st0__left{fill:#D7E2E2;}
  .st1__left{fill:#DEDEDB;}
  .st2__left{fill:#999999;}
  .st3__left{fill:#4D4D4D;}
  .st4__left{fill:#262626;}
  .st5__left{fill:#1A1A1A;}
  .st6__left{fill:none;}
  .st7__left{display:none;fill:#999999;}
  .st8__left{fill:#4D0000;}
  .st9__left{fill:#EE0000;}
  .st10__left{fill:url(#SVGID_1_);}
  .st11__left{fill:url(#SVGID_2_);}
  .st12__left{fill:url(#SVGID_3_);}
  .st13__left{fill:url(#SVGID_4_);}
  .st14__left{fill:url(#SVGID_5_);}
  .st15__left{fill:url(#SVGID_6_);}
  .st16__left{fill:url(#SVGID_7_);}
  .st17__left{fill:url(#SVGID_8_);}
  .st18__left{fill:url(#SVGID_9_);}
  .st19__left{fill:#171916;}
  .st20__left{fill:url(#SVGID_10_);}
  .st21__left{fill:url(#SVGID_11_);}
  .st22__left{fill:url(#SVGID_12_);}
  .st23__left{fill:url(#SVGID_13_);}
  .st24__left{fill:url(#SVGID_14_);}
  .st25__left{fill:url(#SVGID_15_);}
  .st26__left{fill:url(#SVGID_16_);}
  .st27__left{fill:url(#SVGID_17_);}
  .st28__left{fill:url(#SVGID_18_);}
  .st29__left{fill:#f9eb6d;}
  .st30__left{fill:#f9eb6d;}
  .st31__left{fill:#CCCAC6;}
  .st32__left{display:none;}
  .st33__left{display:inline;}
  .st34__left{fill:#264FA4;}
}

.car__front-image {
  .st0__front{display:none;}
  .st1__front{display:inline;fill:#004EC2;}
  .st2__front{fill:#4D4D4D;}
  .st3__front{fill:none;}
  .st4__front{fill:url(#SVGID_1_);}
  .st5__front{fill:#2D2828;}
  // .st6__front{fill:url(#SVGID_2_);}
  .st7__front{fill:#DEDEDB;}
  .st8__front{fill:#B2B2B2;}
  .st9__front{fill:#E5B12E;}
  .st10__front{fill:#A0A0A0;}
  .st11__front{fill:#D7E2E2;}
}

svg a path[data-parts='true'] {
  transition: 0.2s;
}

svg a path[data-parts='true']:hover {
  fill: var(--color-calculator-hover);
  transition: 0.4s;
}

svg a path.svg--active[data-parts='true']:hover{
  fill: rgba($color: #004EC2, $alpha: 1);
  transition: 0.2s;
}

svg a path.svg--active[data-parts='true']{
  fill: rgba($color: #004EC2, $alpha: 1);
  transition: 0.2s;
}

g a path[data-parts='true'] {
  transition: 0.2s;
}

g a path[data-parts='true']:hover {
  fill: var(--color-calculator-hover);
  transition: 0.4s;
}

g a path.svg--active[data-parts='true']:hover{
  fill: rgba($color: #004EC2, $alpha: 1);
  transition: 0.2s;
}

.svg--active {
  fill: rgba($color: #004EC2, $alpha: 1);
  transition: 0.2s;
}

.car__picture-wrapper {
  position: relative;
  z-index: 2;
}

.car__picture-wrapper .car__image {
  background-image: url("/site/templates/img/car.svg");
  display: block;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

.car__picture-wrapper .car__areas-artificial-main {
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: 2;
}

.car__usemap {
  width: 284px;
  height: 157.165px;
}

@media(max-width: 768px) {
  .car__image{
    width: 100%;
  }
}

.car__parts{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.car__left-back-door {
  width: 14%;
  top: 42px;
  position: absolute;
  left: 434px;
  z-index: 1;
}

.car__areas-parts--hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-mapa{
  position: relative;
  z-index: 3;
}

.car__areas-parts + .car__areas-parts--active {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
}

.car__areas-parts .car__areas-parts--active img {
  width: 100%;
  height: 100%;
}