.calculator-repair {
  position: relative;
  color: var(--color-text-light);
  padding: 0 16px;
}

.calculator-repair__container {
  max-width: 940px; 

  padding: 24px;

  background-color: var(--color-primary);
  border-radius: 12px;
}

.calculator-repair__title {
  line-height: 0.9;
  font-size: 36px;
  margin-bottom: 20px;
}

@media(max-width: 768px) {
  .calculator-repair__title {
    font-size: 28px;
  }
}
