.contact-us {
  padding: 80px 0;
  background-color: var(--color-primary);
}

.contact-us__container {
  position: relative;
  padding: 0 28px;
}

.contact-us__wrapper {
  padding: 28px 14px;
  background-color: #ffffff;
  border-radius: 12px;
  transition: 0.6s filter linear;
}


@media(max-width: 426px) {
  .contact-us__wrapper {
    padding: 28px 4px;
  }
}

.contact-us__wrapper--loader {
  filter: opacity(80%);
  transition: 0.6s filter linear;
  pointer-events: none
}

.contact-us__picture-success {
  width: 104px;
  margin: 0 auto;
}

.contact-us__text-title {
  font-size: 32px;
}

@media(max-width: 768px) {
  .contact-us__text-title {
    font-size: 32px;
  }
}


@media(max-width: 426px) {
  .contact-us__text-title {
    font-size: 28px;
  }
}

.contact-us__text-description {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 300;
}

@media(max-width: 426px) {
  .contact-us__text-description {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 300;
  }
}

.contact-us__text-description--success {
  line-height: 1.5;
}

.form-communication__label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
}

.form-communication__input {
  margin-bottom: 8px;
  font-size: 16px;
}

.form-communication__text-checkbox {
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.4;
}

.form-communication__button {
  background-color: var(--color-primary);
}

@media(max-width: 940px) {
  .communication__map {
    height: 420px;
  }
}

@media(max-width: 575px) {
  .communication__map {
    height: 320px;
    margin-top: 32px;
  }
}